@font-face {
    font-family: 'Century Gothic Bold';
    src: url('./CenturyGothic-Bold.eot');
    src: url('./CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
         url('./CenturyGothic-Bold.woff2') format('woff2'),
         url('./CenturyGothic-Bold.woff') format('woff'),
         url('./CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Century Gothic Regular';
    src: url('./Century_Gothic_Regular-webfont.ttf') format('truetype');
}
#Stage_ts2-1 * {
    font-family: 'Century Gothic Regular' !important;
    text-align: left;
    font-size: 16px;
    color: #4D4D4D;
}
#Stage_ts2-2 * {
    font-family: 'Century Gothic Bold' !important;
    text-align: left;
    margin-top: 40px;
}

#Stage_t1 *{
    font-family: 'Century Gothic Regular' !important;
    text-align: left;
    font-size: 1.8rem;
    color: #4D4D4D;
}
#Stage_t2 *{
    font-family: 'Century Gothic Bold' !important;
    text-align: right;
    font-size: 1.5rem;
    color: #4D4D4D;
}
#Stage_t3 *{
    font-family: 'Century Gothic Bold' !important;
    text-align: right;
    font-size: 2rem;
    color: #00A89C;
}